<div class="container-fluid p-0">
  <nav class="navbar navbar-light">
    <div class="d-flex align-items-center cursor-pointer" routerLink="">
      <div class="amdocs-logo ps-4 px-2">
        <img src="./assets/icons/Miti-logo-white-transparent-65px.svg" />
      </div>
    </div>
    <div class="links">
      <a routerLink="documentation" class="navbar-light me-2">Documentation</a>
      <a href="https://mitigram-tech-doc.vercel.app/" target="_blank" class="navbar-light me-2">Tech-Docs</a>
      <a href="https://github.com/parxomchik/mitigram" target="_blank" class="navbar-light">Source code</a>
    </div>
  </nav>
</div>
